@import url(./reset.css);

:root {
   font-family: "Quicksand", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
   color-scheme: dark light;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --white: #fff;
   --white-90: #E4E4E7;
   --white-95: #F1F1F3;
   --white-97: #F1F1F3;
   --black: #000;
   --black-transparent: rgba(0, 0, 0, 0.6);
   --black-95: #141414;
   --black-90: #1A1A1A;
   --black-85: #262626;
   --black-80: #333333;
   --black-70: #4D4D4D;
   --black-50: #808080;
   --black-40: #999999;
   --purple-20: #3c00a5;
   --purple-30: #4a00c2;
   --purple-40: #5300da;
   --purple-50: #610ff7;
   --purple-60: #703BF7;
   --purple-65: #8254F8;
   --purple-70: #946CF9;
   --purple-75: #A685FA;
   --purple-90: #DBCEFD;
   --purple-95: #EDE7FE;
   --purple-97: #F4F0FE;
   --br-btns: 10px;
   --shd-btns: 0px 0px 5px var(--purple-75);
   --swiper-theme-color: #610ff7;
}



html {
   scroll-behavior: smooth;
   position: relative;
}

body {
   /* background-color: var(--black-90); */
   color: var(--white-90);
   /* background-image: url(../src/assets/background.png); */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/webp/background1.webp);
   background-size: cover;
   padding-bottom: 60px;
}

button {
   height: 40px;
   background-color: var(--purple-40);
   padding: 0 20px;
   border-radius: var(--br-btns);
   box-shadow: var(--shd-btns);
   font-size: 1.2rem;
   font-weight: 600;
   cursor: pointer;
   color: var(--white-90);
   transition: background-color .4s;

   &:hover {
      background-color: var(--purple-20);
   }
}

a {
   cursor: pointer;
   color: var(--white-90);
   transition: color .4s;
   text-decoration: none;

   &:hover {
      color: var(--black-40);
   }
}

h1 {
   max-width: 1200px;
   margin: 0 auto;
   font-size: 3rem;
   position: relative;
   margin-bottom: 60px;
   font-weight: 400;
}

@media(max-width:800px){
   button{
      height: 20px;
      font-size: 0.8rem;
   }
   h1{
      font-size: 1.4rem;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
   }
}