@import url(./global.css);

body{
  background-color: var(--black-90);
  max-width: 1200px;
}

#header{
 height: 60px;
 display: flex;
 justify-content: space-between;
 &>nav{
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  &>a{
    cursor: pointer;
    color: var(--white-90);
    transition: color .4s;
    &:hover{
      color: var(--black-40);
    }
  }
 }
}