@import url(./global.css);



#header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  right: 0;
  height: 80px;
  z-index: 10;

  font-weight: 400;
  font-size: 1rem;
  transition: background-color 0.7s;
  background-color: transparent;


  &>div {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    transition: border-bottom-color 0.7s;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>nav>img {
      max-height: 30px;
      flex: 1 1 0;
    }

    &>nav {
      flex: 1 1 0;
    }
  }

  &>div>div {
    display: flex;
    align-items: center;
  }

  &>div>nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    &>div {
      display: flex;
      gap: 10px;
      width: 305px;

    }

    &>div>a {
      display: flex;
      align-items: center;
      height: 100%;
      font-weight: 400;
      padding: 10px;
      font-size: 14px;
      height: 60px;
      text-transform: uppercase;
      color: white;

      &:hover {
        color: var(--black-30) !important;
      }
    }

  }

  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-top: 60px;
    /* margin-right: -6px; */
    z-index: 12;
  }

  .burger div {
    width: 30px;
    height: 3px;
    background-color: var(--black-40);
    margin: 5px;
    transition: transform 0.3s;
  }


}

@media (max-width:800px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
  }

  .overlay.active {
    opacity: 1;
    z-index: 9;
  }

  #header {

    height: 0;

    &>div>h4 {
      visibility: hidden;
    }

    &>div>nav {
      position: fixed;
      top: 0;
      left: -100%;
      width: 180px;
      height: 100vh;
      background: var(--black-90);
      padding: 50px 20px;
      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      z-index: 12;
      box-shadow: -1px 0px 5px #ffffff1c;
      transition: left 0.5s ease-in-out;

      &>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 12;
        position: relative;
        justify-content: center;
        align-items: center;
        width: auto;
      }

      &>a {
        height: fit-content;
        width: 100%;
        color: var(--black-40);
        display: flex;
        justify-content: center;
      }
    }

    nav.active {
      left: 0;
    }

    img {
      display: none;
    }

    .burger {
      display: flex;
    }

  }

  #header .burger {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    transition: background-color .4s;
  }

  /* Position bars absolutely within container */
  #header .burger div {
    position: absolute;
    left: 10px;
    /* (40px - 30px) / 2 = 5px */
    margin: 0;
    transition: all 0.3s;
  }

  #header .burger div:first-child {
    top: 17px;
  }

  #header .burger div:nth-child(2) {
    top: 25px;
  }

  #header .burger div:last-child {
    top: 33px;
  }

  /* X animation when active */
  #header>div>nav.active~.burger {
    background-color: transparent;
  }

  #header>div>nav.active~.burger div:first-child {
    transform: rotate(45deg);
    top: 25px;
  }

  #header>div>nav.active~.burger div:nth-child(2) {
    opacity: 0;
  }

  #header>div>nav.active~.burger div:last-child {
    transform: rotate(-45deg);
    top: 25px;
  }
}



.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

@media(max-width:800px) {
  .hero-image {
    height: 100vh;
  }
}

#home {
  position: relative;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  &>div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;



    &>img {
      margin-right: auto;
      max-height: 100px;
    }

    &>p {
      color: white;
      font-size: 1.5rem;
    }


  }
}

@media(max-width:800px) {
  #home {
    padding: 0 20px;
    height: 100vh;

    &>div {
      width: 100%;
      justify-content: flex-end;
      padding: 10px;
      padding-bottom: 40px;

      &>img {
        max-height: 30px;
        margin-right: 0;
        display: none;
      }

      &>p {
        /* padding: 0 20px; */
        text-align: center;
        font-size: 1rem;
      }

      &>div {
        display: flex;
        justify-content: center;
        align-items: center;

        &>a>button {
          height: 40px;
        }
      }
    }
  }
}

.info-icon {
  display: none;
}

#portfolio {
  padding: 0 10px;
  padding-bottom: 80px;
  padding-top: 60px;
  position: relative;

  /* &::after {
    content: "";
    position: absolute;
    width: 800px;
    bottom: 0;
    height: 1px;
    background-color: var(--black-70);
    left: 50%;
    transform: translateX(-50%);
  } */



  &>div {


    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    /* z-index: 2; */
    display: grid;
    grid-template-areas:
      "l l l l l"
      "c c c c c"

    ;

    .vertical {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .open-modal {
        height: 700px;

        &>iframe {
          width: 100%;
          height: 700px;
        }
      }
    }

    .horizontal {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;


    }



    &>input[type="radio"] {
      display: none;
    }

    .tab-content {
      opacity: 0;
      max-height: 0;
      transition: max-height .4s;
    }

    #content-1 {
      grid-area: c;
      display: flex;
    }

    #content-2 {
      grid-area: c;
    }

    #content-3, #content-4, #content-5, #content-6 {
      grid-area: c;
    }

    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3,
    #tab-btn-4:checked~#content-4,
    #tab-btn-5:checked~#content-5,
    #tab-btn-6:checked~#content-6 {
      opacity: 1;
      max-height: none;
    }

    #tab-btn-1:checked+label,
    #tab-btn-2:checked+label,
    #tab-btn-3:checked+label,
    #tab-btn-4:checked+label,
    #tab-btn-5:checked+label,
    #tab-btn-6:checked+label {
      border-bottom-color: var(--yellow-20);
      color: var(--yellow-20);
    }

    &>label {
      grid-area: "l";
      min-width: 100%;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      padding: 10px 40px;
      border-bottom: 1px solid var(--black-80);
      transition: border-bottom-color 0.4s;
      margin-bottom: 20px;
      font-weight: 600;
      flex: 1 1 0;

    }


    .tab-content {
      position: relative;
      overflow: hidden;
    }

    .open-modal {
      cursor: pointer;
      /* border-radius: 10px; */
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.082);
      position: relative;
      z-index: 3;



      &>div {
        position: relative;
      }

      &>div>img {
        border-bottom: 1px solid rgba(255, 255, 255, 0.082);
      }



    }
  }


  & .play-icon {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    z-index: 4;
    color: white;
    transition: font-size .4s;
  }

  .open-modal:hover {
    & .play-icon {
      font-size: 3.5rem;
    }
  }


}

@media(max-width:800px) {
  #portfolio {
    padding: 0 20px;
    padding-bottom: 40px;
    padding-top: 20px;

    &::after {
      max-width: 300px;
    }

    .vertical.vertical {
      .open-modal {
        height: 190px;
      }
    }

    .play-icon {
      font-size: 16px;
    }

    &>div {
      height: fit-content;

      &>div {
        grid-template-columns: 1fr;
        gap: 10px;
        height: fit-content;
      }

      &>label {
        font-size: 0.7rem;
        padding: 10px 10px;
      }

      & p {
        font-size: 0.7rem;
      }
    }


  }
}

#aboutus {
  padding: 0 10px;
  padding-bottom: 80px;
  padding-top: 60px;
  /* background-color: #00000068; */

  &>div {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &>div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      max-width: 350px;
      height: 250px;

      &>svg {
        color: var(--yellow-20);
      }

      &>h3 {
        text-align: center;
        font-size: 1.5rem;
      }

      &>p {
        text-align: center;
        font-size: 1rem;
      }

    }
  }
}

@media(max-width:800px) {
  #aboutus {
    padding: 0 20px;
    padding-bottom: 40px;
    padding-top: 20px;

    &>div {
      flex-direction: column;
      gap: 40px;
      /* align-items: flex-start; */
      align-items: center;

      &>div {
        gap: 10px;
        width: 100%;
        max-width: 90%;
        display: grid;
        grid-template-areas:
          "a b"
          "b1 b1"
        ;
        grid-template-columns: 30px 1fr;
        grid-template-rows: 30px 1fr;
        align-items: start;
        justify-content: center;
        height: fit-content;

        &>svg {
          font-size: 1.5rem;
          /* position: absolute; */
          grid-area: a;
        }

        &>h3 {
          margin-top: 1px;
          width: fit-content;
          grid-area: b;
          font-size: 16px;
        }

        &>p {
          grid-area: b1;
          /* width: 100%; */
          line-height: 20px;
          text-align: start;
          padding-right: 20px;
          font-size: 14px;
        }

        /* &:nth-child(2) { */
        /* align-self: flex-end; */
        /* background-color: #4d13b1; */
        /* } */
      }
    }

  }
}

#faq {
  padding: 0 10px;
  padding-bottom: 80px;
  padding-top: 60px;
  position: relative;



  &>div {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
  }

  .accordion {
    /* background-color: #bbb; */
    background-color: transparent;
    /* color: var(--white-90); */
    font-weight: 500;
    padding: 30px 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    /* box-shadow: 0px 0px 3px var(--purple-70); */
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 0px;
    /* border-bottom: 1px solid var(--yellow-20); */
    border-bottom: 1px solid black;
    /* transition: border-bottom-left-radius .7s ease-in,
      border-bottom-right-radius .7s ease-in,
    ; */
  }


  .panel {
    box-sizing: border-box;
    padding: 0 18px;
    max-height: 0;
    color: var(--black-70);
    font-weight: 400;
    font-size: 1.2rem;
    opacity: 0;
    border-bottom: 1px solid black;
    /* border-bottom: 1px solid var(--yellow-20); */
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* margin-bottom: 15px; */
    overflow: hidden;
    transition:
      max-height 0.4s ease-out,
      padding 0.4s ease-out,
      opacity 0.4s ease-out;
  }

  .accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 1rem;
    /* color: #777; */
    color: var(--white-90);
    float: right;
    margin-left: 5px;
    font-weight: 200;
  }

  .active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */

  }
}

@media(max-width:800px) {
  #faq {
    padding: 0 20px;
    padding-bottom: 60px;
    padding-top: 40px;

    &::after {
      max-width: 300px;
    }

    .accordion {
      height: fit-content;
      line-height: normal;
      font-size: 0.8rem;
      padding: 15px 18px;
      /* box-shadow: 0px 0px 3px var(--purple-70); */
    }

    .panel {
      font-size: 0.7rem;
    }
  }
}

#contact {
  @media(max-width:800px){
    padding: 0 20px;
    padding-bottom: 60px;
    padding-top: 40px;
    &>div{
      max-width: 380px;
      padding-left: 20px;
      flex-direction: column-reverse;

    }
    &>button{
      height: 60px;
      font-size: 16px;
      width: 200px;
    }
  }
  padding: 0 10px;
  padding-bottom: 80px;
  padding-top: 60px;

  &>button {
    margin: 0 auto;
    display: block;
    background-color: black;
    color: white;
    margin-top: 60px;

    &:hover {
      background-color: var(--black-70);
    }
  }

  &>div {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &>div {
      width: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      &>div {
        width: 100%;
        gap: 20px;

        svg {
          fill: black;
          transition: fill .4s;

          &:hover {
            fill: var(--black-50);
          }
        }

        &>h3 {
          font-size: 20px;
        }

        &:last-child {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}



#team {
  padding: 0 10px;
  padding-bottom: 80px;
  padding-top: 60px;

  &>div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;

    justify-content: center;
    align-items: center;

    &>div {
      position: relative;
      display: flex;
      gap: 10px;
      flex-direction: column;

      /* &>b {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: background-color .4s;
        background-color: transparent;
      } */
      &>img {
        max-width: 420px;

      }

      &>div {
        padding: 10px;
        padding-left: 0;
        padding-top: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        gap: 20px;
        transition: bottom .4s;

        &>h4 {
          font-size: 2rem;
          line-height: 2.3rem;
          font-weight: 600;
        }

        &>p {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }


    }
  }
}

@media(max-width:800px) {
  #team {
    padding: 0 20px;
    padding-bottom: 60px;
    padding-top: 40px;

    &>div {
      gap: 20px;
      align-items: start;

      &>div {
        justify-content: center;
        align-items: center;
        position: relative;

        &>img, &>img {
          max-width: 170px;
        }

        &>div {
          gap: 10px;
          z-index: 6;
          padding: 0;
          padding-top: 5px;


          &>h4 {
            font-size: 16px;
            line-height: normal;
          }

          &>p {
            font-size: 10px;
            line-height: normal;
          }
        }


      }
    }
  }
}

#stages {
  padding: 0 10px;
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  /* 
  &::after {
    content: "";
    position: absolute;
    width: 800px;
    bottom: 0;
    height: 1px;
    background-color: var(--black-70);
    left: 50%;
    transform: translateX(-50%);
  } */

  &>div {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "c1 i"
      "c2 i"
      "c3 i";
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 15px;

    &>img, video {
      grid-area: i;
      height: 100%;
      width: 100%;
      max-height: 700px;
      object-fit: cover;
      visibility: hidden;
      /* border-radius: 20px; */
      opacity: 0;
      /* transition: opacity .7s, visibility .7s; */
    }

    &>div {
      margin-right: 40px;
      display: flex;
      gap: 30px;
      position: relative;

      &>span {
        font-size: 3rem;
        line-height: 3rem;
        transition: color .4s;
        color: black;
        width: 40px;
      }

      &>.stages_line {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--black-70);
      }

      &>div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &>h3 {
          transition: color .4s;
          font-size: 1.8rem;
          font-weight: 400;
        }

        &>p {
          /* padding: 10px 0; */
          line-height: 1.5rem;
          line-height: 24px;
          font-weight: 400;
          font-size: 14px;
          color: var(--black-75);
          padding-bottom: 20px;
        }
      }
    }


    &>.stages_content1 {
      grid-area: c1;

      &:hover {
        &>span {
          color: var(--yellow-20);
        }

        &>div>h3 {
          color: var(--yellow-20);
        }

      }
    }

    &>.stages_content2 {
      grid-area: c2;

      &:hover {
        &>span {
          color: var(--yellow-20);
        }

        &>div>h3 {
          color: var(--yellow-20);
        }

      }
    }

    &>.stages_content3 {
      grid-area: c3;

      &:hover {
        &>span {
          color: var(--yellow-20);
        }

        &>div>h3 {
          color: var(--yellow-20);
        }

      }
    }
  }

  .stages_img {
    visibility: visible;
    opacity: 1;
  }
}

@media(max-width:800px) {
  #stages {
    padding: 0 20px;
    padding-bottom: 60px;
    padding-top: 40px;
    background-color: transparent;

    &::after {
      max-width: 300px;
    }

    .stages_line {
      display: none;
    }

    &>div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 40px;
      align-items: center;

      &>.stages_content2 {

        &>span {
          color: var(--yellow-20);
        }

        &>div>h3 {
          color: var(--yellow-20);
        }


      }

      &>div {
        padding-bottom: 40px;
        margin-right: 0;
        gap: 10px;
        flex-direction: column;
        max-width: 300px;
        position: relative;

        &>span {
          display: flex;
          font-size: 2rem;
          align-items: center;
          justify-content: center;
          line-height: 1rem;
          position: absolute;
          left: 2px;
          top: 2px;
          width: 20px;
        }

        &>div {
          &>h3 {
            padding-left: 40px;
            font-size: 20px;
            /* margin-bottom: 10px; */
          }

          &>p {
            line-height: 0.9rem;
            font-size: 0.7rem;
            text-align: justify;
          }
        }
      }

      &>img {
        display: none;
      }

      &>video {
        display: none;
      }
    }
  }
}

#videos {
  padding: 0 10px;
  padding-bottom: 80px;
  padding-top: 60px;
  position: relative;

  /* background-color: #00000095; */
  /* &::after {
    content: "";
    position: absolute;
    width: 800px;
    bottom: 0;
    height: 1px;
    background-color: var(--black-70);
    left: 50%;
    transform: translateX(-50%);
  } */

  &>div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;


    &>div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      position: relative;

      &>video {
        /* pointer-events: none; */
        /* border-radius: 10px; */
        width: 100%;
        height: 670px;
        object-fit: cover;
        width: 370px;
      }

      &>p {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: start;
        /* padding-left: 25px; */
        width: 100%;
        padding-right: 50px;
      }

      &>h4 {
        position: absolute;
        bottom: 85px;
        left: 25px;
        font-size: 1.4rem;
        font-weight: 700;
        color: white;
      }
    }
  }
}

@media(max-width:800px) {
  #videos {
    padding: 0 20px;
    padding-bottom: 40px;
    padding-top: 20px;

    &::after {
      max-width: 300px;
    }

    &>div {
      gap: 20px;

      flex-direction: column;

      &>div {
        align-items: start;

        &>video {
          width: 100%;
          height: 500px;
        }

        &>h4 {
          font-size: 0.9rem;
          bottom: 80px;
          left: 20px;
        }

        &>p {
          max-width: 80%;
          font-size: 14px;
        }
      }
    }
  }
}



#footer {
  padding: 0 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--black-90);
  height: 60px;

  &>div {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--black-40);

    &>p {
      display: flex;
      align-items: center;
    }

    &>div {
      display: flex;
      align-items: center;
      gap: 20px;

      &>a {
        height: 32px;

        &:hover {
          &>svg {
            fill: var(--black-40);
          }
        }

        &>svg {
          transition: fill .4s;
          fill: var(--white-90);
        }
      }
    }
  }
}

@media(max-width:800px) {
  #footer {
    height: 40px;
    padding: 0 20px;
    font-size: 0.7rem;

    &>div {
      &>div {
        &>a {
          height: 20px;

          &>svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}




.modal {
  position: fixed;
  /* фиксированная позиция */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* по умолчанию скрыто */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  /* полупрозрачный фон */
  z-index: 20;

}

/* Внутренний блок с контентом */
.modal-content {
  position: relative;
  background: var(--black-90);
  overflow: auto;
  max-width: 1200px;
  box-sizing: border-box;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  width: 100%;

  &>iframe {
    border-radius: 5px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    aspect-ratio: 16 / 9;
    align-items: center;
    justify-content: center;
  }

}

/* Кнопка-закрывашка */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-90);
  border-radius: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 70%;
    /* Длина линий крестика */
    height: 4px;
    /* Толщина линий крестика */
    background-color: var(--white-90);
    /* Цвет крестика */
    transition: background-color .4s;
  }

  &:hover {

    &::before,
    &::after {
      background-color: var(--black-40);

    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

}

@media(max-width:800px) {
  .modal-content {
    padding: 0;
    max-width: none;
  }

  .modal-close {
    background-color: var(--black-90);
    border-radius: 50%;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}